                                                .header-content {
                                                    position: relative;
                                                    &__container {
                                                        display: grid;
                                                        max-height: 185px;
                                                        max-width: $ul;
                                                        margin: auto;
                                                        padding-left: $gap;
                                                        padding-right: $gap;
                                                    }
                                                    &__title {
                                                        text-align: center;
                                                        @media(min-width: $lg) {
                                                            margin: 0 0 53px 0;
                                                        }
                                                        @media(max-width: $lg - 1) {
                                                            margin: 0 0 43px;
                                                        }
                                                    }
                                                    &__buttons {
                                                        display: flex;
                                                        justify-content: center;
                                                        flex-wrap: wrap;
                                                        margin-bottom: 0;
                                                    }
                                                }
                                                
                                                @media (min-width: $lg) {
                                                    .header-content__buttons .btn {
                                                        min-width: 250px;
                                                        height: 60px;
                                                    }
                                                    .header-content__buttons .btn:not(:last-of-type) {
                                                        margin-right: 20px;
                                                    }
                                                }
                                                
                                                @media (max-width: $lg - 1) and (min-width: $md) {
                                                    .header-content__buttons .btn {
                                                        min-width: 200px;
                                                        height: 50px;
                                                        padding-top: 14px;
                                                        padding-bottom: 14px;
                                                        letter-spacing: 0.1em;
                                                        font-size: 1rem;
                                                    }
                                                    .header-content__buttons .btn:not(:last-of-type) {
                                                        margin-right: 20px;
                                                    }
                                                }
                                                
                                                @media (max-width:$md - 1) and (min-width: $sm) {
                                                    .header-content__buttons .btn {
                                                        min-width: 170px;
                                                        height: 40px;
                                                        padding-top: 10px;
                                                        padding-bottom: 10px;
                                                        letter-spacing: 0.05em;
                                                        font-size: 1rem;
                                                    }
                                                    .header-content__buttons .btn:not(:last-of-type) {
                                                        margin-right: 20px;
                                                    }
                                                }
                                                
                                                @media (max-width: $sm - 1) {
                                                    .header-content__buttons {
                                                        align-items: center;
                                                        flex-direction: column;
                                                    }
                                                    .header-content__buttons .btn {
                                                        min-width: 170px;
                                                        height: 40px;
                                                        padding-top: 10px;
                                                        padding-bottom: 10px;
                                                        letter-spacing: 0.05em;
                                                        font-size: 1rem;
                                                    }
                                                    .header-content__buttons .btn:not(:last-of-type) {
                                                        margin-bottom: 20px;
                                                    }
                                                }